{% extends 'base.html.twig' %}

{% block title %}Apparaat Registreren{% endblock %}

{% block body %}
    <div class="container">
        <div class="row w-100">
            <div class="col-12 text-center" style="margin-top: 25px;">
                <h2>Registreer de apparaat die nu wordt opgehaald</h2>
            </div>
            <div class="col-12" style="margin-bottom: 25px;">
                <hr>
            </div>
            <div class="col-12" style="display: flex;justify-content: center;">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button style="border: solid 1px black; margin-top: 25px;"
                        class="btn">{{ button_label|default('Registreer apparaat') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
